In [0]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [28]:
alfabe=['a','b','c','d','e','f','g','h','i','j'] #Kullanacağımız data listelerini oluşturdum.
print(alfabe)
fibArray = [1,1,2] 
while len(fibArray)<10:   
 fibArray.append(fibArray[-1] + fibArray[-2])  
print(fibArray)
asallarList=[]
for x in range(1,32):
    count=0
    if x<=2:
        print (x,end=" ")
    elif x%2!=0:
        for y in range(2,x//2):
            if (x%y)==0:
                count+=1
        if count==0:
            asallarList.append(x)
print(asallarList)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
1 2 [3, 5, 7, 11, 13, 17, 19, 23, 29, 31]

In [30]:
df = pd.DataFrame({'İlk 10 Asal Sayı' : asallarList, #Done!!! :D
                  'İlk 10 Fibonacci' : fibArray},
                  index=alfabe)
    
df

   İlk 10 Asal Sayı  İlk 10 Fibonacci
a                 3                 1
b                 5                 1
c                 7                 2
d                11                 3
e                13                 5
f                17                 8
g                19                13
h                23                21
i                29                34
j                31                55

In [0]:
train=pd.read_csv('train.csv')#Train dosyasını çağırdım!

In [35]:
train.groupby('Sex').mean()['Age'] #Done!!!

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64

In [43]:
otuzdankücükler=train[train['Age']<30]#Biraz dağınık ama çalıştı optimize edilebilir ileride :S
otuzdankücüklersurvived=otuzdankücükler.groupby(by='Sex').sum()['Survived']
ratio=otuzdankücüklersurvived/otuzdankücükler.count()['Survived']
ratio

Sex
female    0.273438
male      0.132812
Name: Survived, dtype: float64